body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #838d8f;
}

header {
    background: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1, h2, h3 {
    margin: 30px;
    padding: 30px;
}

